:root {
  font-size: calc(1em + 2vmin + 3vmax);
}

:any-link {
  text-decoration: wavy underline;
}

:focus {
  outline-color: currentColor;
  outline-style: outset;
  outline-width: thick;
}

body {
  margin: auto;
}

figure {
  margin: auto;
  padding-block-end: 3rem;
}

samp {
  align-items: center;
  border-radius: 0 3%;
  display: flex;
  flex-flow: column;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
  min-height: 100vh;
}

figcaption {
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 10em;
  margin: auto;
  padding: 5vmin;
  padding-bottom: 5rem;
}

b {
  text-shadow:
    -.1ex .1ex 0,
    -.2ex .2ex 0,
    .3ex -.3ex 0;
}

::selection {
  background: rebeccapurple;
  color: powderblue;
}
